HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.jks
*.crt
cacerts*
*.json.gz.enc
*.json.gz.encryption.json
venv/
__pycache__
dump/
.kotlintest/
docker/gradle/gradle.properties
docker/gradle/settings.gradle.kts
*.csv
docker/s3-init/env/
docker/s3-init/load/
