version: '3'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:4.1.0
    ports:
      - "2181:2181"
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  dks:
    image: dks
    ports:
      - 8443:8443
    build:
      context: docker/dks
    environment:
      - SPRING_PROFILES_ACTIVE=STANDALONE,SECURE
      - SPRING_CONFIG_LOCATION=application-secure.properties
    container_name: dks

  dks-insecure:
    image: dks
    ports:
      - 8080:8080
    build:
      context: docker/dks
    container_name: dks-insecure
    environment:
      - SPRING_PROFILES_ACTIVE=STANDALONE,INSECURE

  hbase:
    image: hbase:latest
    build: docker/hbase
    depends_on:
      - zookeeper
    container_name: hbase
    environment:
      ZOOKEEPER_QUORUM: zookeeper

  s3:
    image: localstack/localstack
    ports:
      - '4563-4584:4563-4584'
      - '8055:8080'
    environment:
      - SERVICES=s3
      - DEBUG=1
      - DATA_DIR=/data/s3
    container_name: s3

  s3-init:
    image: s3-init
    build:
      context: docker/s3-init
    container_name: s3-init
    depends_on:
      - s3
    environment:
      - S3_SERVICE_ENDPOINT=http://s3:4572
      - AWS_REGION=eu-west-2
      - AWS_ACCESS_KEY_ID=aws-access-key
      - AWS_SECRET_ACCESS_KEY=aws-secret-access-key
      - S3_BUCKET=uc-historic-data
      - S3_PREFIX=test/prefix/
      - S3_PAGING_PREFIX=test/prefix
      - S3_MANIFEST_BUCKET=manifestbucket
      - CREATE_PAGINATED_DATA=${CREATE_PAGINATED_DATA:-no}

  uc-historic-data-importer:
    image: uc-historic-data-importer
    build:
      context: .
      args:
        - APP_VERSION
    depends_on:
      - hbase
      - s3-init
    container_name: uc-historic-data-importer
    command: >-
      --hbase.zookeeper.quorum=hbase
      --aws.region=eu-west-2
      --aws.access.key=aws-access-key
      --aws.secret.key=aws-secret-key
      --data.key.service.url=https://dks:8443/
      --s3.bucket=uc-historic-data
      --s3.prefix.folder=test/
      --s3.suffixes.csv=prefix,prefix2
      --s3.service.endpoint=http://s3:4572
      --filename.format.regex=([A-Za-z0-9-]+\.[A-Za-z0-9-]+\.[0-9]+\.json\.gz)
      --filename.format.data.extension=\.enc$$
      --filename.format.metadata.extension=\.encryption\.json$$
      --kafka.topic.prefix=db
      --trace.id=1234
      --spring.profiles.active=localS3,secureHttpClient,batchRun,hbase,weakRng
      --s3.manifest.prefix.folder=test-manifest-exporter
      --s3.manifest.bucket=manifestbucket

  integration-test:
    image: integration-test:latest
    build:
      context: .
      dockerfile: docker/integration/Dockerfile
    container_name: integration-test
    depends_on:
      - uc-historic-data-importer
    command: "gradle --rerun-tasks integration"
    environment:
      - SPRING_PROFILES_ACTIVE=localS3
